{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section id="home" class="home-section bg-cream">
    <div class="container">
        <div class="section-heading">
            <h3>Latest Projects</h3>
        </div>
        <div class="portfolio-box">
            {% for project in projects %}
            <div class="row gx-3 gy-4 pb-3 mb-5 pb-lg-3 mb-lg-3 justify-content-around align-items-center {% if loop.index is even %}flex-row-reverse{% endif %}">
                <div class="col-md-6 col-lg-5">
                    <div class="portfolio-img">
                        <img src="{{ url_for('static', path='images/' + project.image) }}" alt="{{ project.title }}">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="portfolio-text">
                        <span>{{ project.category }}</span>
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.description }}</p>
                        <a href="{{ project.link }}" class="colored-btn mt-1" target="_blank" rel="noopener noreferrer">Live Demo</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}